body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Navigation bar - For the top navigation menu */

.navbar {
  background-color: #333;
  color: white;
  padding: 15px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Removes extra spaces */
.navbar h2 {
   margin: 0;
}

/* Holds all the navigation links */
.nav-links {
  display: flex;
  gap: 20px;
}

/* Stlyles the navigation links */
.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {

  text-decoration: underline;
}

/* General page */
.page-contanier {
  max-width:900px;
  margin: 30px auto;
  padding: 20px;
}

/* Forms */

.form-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 25px;

  background-color: white;

  border-radius: 8px;
}

.form-container h1,
.form-container h2 {
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-top: 10px;
  margin-bottom: 5px;

  font-weight: bold;
}

.form-container input {
  padding: 10px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-container button {
  padding: 10px;
  margin-top: 10px;

  cursor: pointer;
}


/* Claim card */

.claim-card {
  background-color: white;

  padding: 20px;
  margin-bottom: 15px;

  border-radius: 8px;
}


/* Payment card */

.payment-card {
  background-color: white;

  padding: 20px;
  margin-top: 25px;

  border-radius: 8px;
}


/* Dashboard */

.dashboard-box {
  background-color: white;

  padding: 20px;
  margin-top: 20px;

  border-radius: 8px;
}

.back-home {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
}

.back-home:hover {
  text-decoration: underline;
}